<app-header></app-header>
<p>blogadd works!</p>

<div class="container">
  <div class="row g-3">
      <div class="col-md-10">

        <input type="text" class="form-control" placeholder="title" [(ngModel)]="blog.title" required>
      </div>
      <div class="col-md-10">
        <input type="text" name="body" class="form-control" id="" cols="80" rows="10" [(ngModel)]="blog.body" required/>
      </div>
      <div class="col-md-10">

          <input type="file" class="form-control" placeholder="add picture " (change)="onFileSelected($event)">
        </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary" (click)="save()">save</button>
      </div>
  </div>
</div>
