.example-card {
  max-width: 400px;
  margin: auto;
  margin-bottom: 5%;

}
/* .example-card:last-child{
  margin-bottom: 0;
} */

.example-header-image {
  background-image: url('../../assets/1.jpg');
  background-size: cover;
}
body{
  background: url('../../assets/pexels-photo-712319.jpeg');
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
  padding-bottom: 2%;
  padding-top: 1%;
}
.btn{background-color: #ff8d1e;
  color:#fff;
  margin-left: 2%;
}
.btn:hover, .btn:focus, .btn.active {background: #4b92dc;color: #fff;
-webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-webkit-transition: all 250ms ease-in-out 0s;
-moz-transition: all 250ms ease-in-out 0s;
-ms-transition: all 250ms ease-in-out 0s;
-o-transition: all 250ms ease-in-out 0s;
transition: all 250ms ease-in-out 0s;

}
h2{
  color: #ff8d1e;
  padding-top: 3%;
}
/* fa fa-pencil{
  margin-left: 300%;
  margin-top: 7%;
} */
mat-card-title{
  overflow: hidden;
}
#picon{
  float: right;
}
