.example-card {
  max-width: 400px;
  margin: auto;
  margin-bottom: 5%;

}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
body{
  background: url('../../assets/pexels-photo-712319.jpeg');
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;

}
